@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-bg-dark: #1f2937;
    --clr-bg-light: #e5e7eb;
    --clr-btn: #3882f6;
    --text-light-main:#f9faf8;
    --text-light-secondary: #e5e7eb;
    --text-dark-main: #1f2937;
    --text-dark-secondary: #384455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

section, header {
    padding-inline: 12em;
}

/* Header styling */

header {
    padding-block: 1em;
    display: flex;
    align-items: center;
    background: var(--clr-bg-dark);
}

.logo img {
    width: 2em;
}

.logo {
    margin-right: auto;
}

.navigation ul {
    display: flex;
    gap: 1em;
}

.navigation ul li {
    list-style: none;
}

.navigation-link {
    text-decoration: none;
    color: var(--text-light-secondary);
}

/* Hero section styling */

.hero {
    background: var(--clr-bg-dark);
    padding-block: 3em;
    display: flex;
    align-items: center;
    gap: 3em;
}

.hero > * {
    flex: 1;
}

.hero-img {
    overflow: hidden;
    border-radius: 16px;
}

.hero-img img {
    max-width: 100%;
}

/* .hero-content {
    display: flex;
    flex-direction: column;
} */

.hero-content h1 {
    color: var(--text-light-main);
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 8px;
}

.hero-content p {
    color: var(--text-light-secondary);
    font-size: 18px;
    margin-bottom: 24px;
    max-width: 80%;
}

.hero-content button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-light-secondary);
    background: var(--clr-btn);
    padding: 8px 16px;
    border-radius: 8px;
}

/* Features section styling */

.features {
    padding-block: 4em 6em;
}

.features h1 {
    color: var(--text-dark-main);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

.features .features-container {
    display: flex;
    gap: 2em;
    padding-inline: 5em;
}

.features .features-container .features-element {
    background-color: lightblue;
    border-radius: 3em;
    border: 2px dotted var(--clr-btn);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.features .features-container img {
    width: 40%;
    filter: invert(47%) sepia(68%) saturate(3512%) hue-rotate(201deg) brightness(98%) contrast(96%);
}

.features .features-container p {
    text-align: center;
    color: var(--text-dark-secondary);
}

/* Quote section styling */

.quote {
    padding-block: 8em 6em;
    padding-inline: 15em;
    background-color: var(--clr-bg-light);
}

.quote-container {
    width: fit-content;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    /* font: italic 200 36px; */
    margin-bottom: 1em;
}

.quote-author {
    font-weight: 500;
    text-align: right;
}

/* CTA section styling */

.cta {
    padding-block: 6em;
}

.cta-container {
    padding: 3em 7em;
    background: var(--clr-btn);
    border-radius: 1em;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.cta-text .title {
    font-size: 18px;
    color: var(--text-light-main);
    font-weight: 600;
}

.cta-text p {
    color: var(--text-light-secondary);
}

.cta-button button {
    border: 2px solid var(--text-light-secondary);
    color: var(--text-light-secondary);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 8px;
}

/* Footer styling */

footer {
    padding-block: 2em;
    background-color: var(--clr-bg-dark);
    color: var(--text-light-secondary);
    text-align: center;
}